*.log
*.pdf
*.lst
*.gdx
*.tmp
*.opt
*.log~2
*.log~1
*.jpeg
*.png
test*
*.lxi
DIETER/DIETER_v1.0.2_2.gms
DIETER/DIETER_v1.0.2_3.gms
DIETER/DIETER_v1.0.2_4.gms
DIETER/DIETER_v1.0.2_5.gms
DIETER/DIETER_v1.0.2_6.gms
DIETER/DIETER_v1.0.2_7.gms
DIETER/DIETER_v1.0.2_8.gms
DIETER/DIETER_v1.0.2_9.gms
DIETER/DIETER_v1.0.2_10.gms
DIETER/DIETER_v1.0.2_11.gms
DIETER/DIETER_v1.0.2_12.gms
DIETER/DIETER_v1.0.2_13.gms
DIETER/DIETER_v1.0.2_14.gms
DIETER/DIETER_v1.0.2_15.gms
DIETER/DIETER_v1.0.2_16.gms
DIETER/DIETER_v1.0.2_17.gms
DIETER/DIETER_v1.0.2_18.gms
